<div class="row justify-content-around my-3">
    <div class="row col-12 justify-content-end">
        <div class="col-12">
            <p class="h2 text-center"><em><u>Vehículo Eléctrico (VE)</u></em></p>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-10 border-right border-info">
            <div class="bg-danger">
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                {{ costeveprediccion.representar_prediccion_ve.grafica_coste_ve|safe }}
            </div>
        </div>
        <div class="col-2 lead text-center align-self-center">
            <p class="h4">Coste:</p>
            <p class="h4"><strong><em>{{ costeveprediccion.coste|floatformat:2 }} €</em></strong></p>
        </div>
    </div>
</div>