{% load static %}


<li class="media my-2">
    <img class="img-fluid border-white mr-3" src="{% static 'icon/bill05.png' %}" alt="coste file icon">
    <div class="media-body">
        <h5 class="mt-0 mb-1"><em><strong>Tipo de Tarifa: {{ costetpdprediccion.tipo }}</strong></em></h5>
        <h6 class="mt-0 mb-1"><strong>Precio: {{ costetpdprediccion.coste|floatformat:2 }}</strong> €</h6>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                data-target="#verCosteTPDPrediccionModal{{ costetpdprediccion.id }}">
            Info
        </button>
    </div>
</li>


<!-- Modal -->
<div class="modal fade" id="verCosteTPDPrediccionModal{{ costetpdprediccion.id }}"
     tabindex="-1" role="dialog"
     aria-labelledby="verCosteTPDPrediccionLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include "forecasting/_coste_tpd_prediccion_item.html" %}
        </div>
    </div>
</div>
{#</div>#}