<div class="modal-header">
    <h5 class="modal-title" id="verInmuebleMLModalLabel">Mercado Libre</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <p class="lead">Las
        <mark>tarifas eléctricas del Mercado Libre</mark>
        corresponden con aquellas tarifas que oferta cualquier
        <mark>empresa privada</mark>
        y a las que cualquier usuario se puede acoger, siempre y cuando su contrato no esté dentro del mercado regulado.
    </p>
    <p class="lead">Puede consultar todas las tarfias desde las páginas web de todas aquellas distribuidoras que operen
        en su zona. A continuación puede encontrar una lista con las más habituales:</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-info" href="https://www.iberdrola.es/luz"><strong><em>Iberdrola</em></strong></a></li>
        <li class="list-group-item"><a class="text-info" href="https://www.endesaclientes.com/catalogo/luz.html"><strong><em>Endesa</em></strong></a></li>
    </ul>

    <p class="lead mt-3">Se añadirán más tarifas eléctricas del mercado libre a la aplicación en el futuro.</p>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>