<!--
    Esta página requiere atención:
    - Un diseño propio
-->

<div class="container">
    <p class="display-1">{{ inmueble.nombre }}</p>
    <hr>
    <p class="display-3">{{ inmueble.descripcion }}</p>
    <hr>
    <p class="h5">Consumo Inmueble: {{ inmueble.filename1 }}</p>
    <hr>
    <p class="h5">Consumo Inmueble Parcial: {{ inmueble.filename2 }}</p>
    <hr>
    <p class="h5">Vienen: {{ inmueble.consumosparciales.user }}</p>
    {% for consumoparcial in consumoparcial_list %}
        {{ inmueble.consumosparciales.inmueble_asociado }}
        {{ inmueble.consumosparciales.user }}
        {{ inmueble.inmueble_asociado }}
        {{ inmueble.user }}
        {{ inmueble.consumosparciales.fichero_consumo_parcial }}
        {{ inmueble.fichero_consumo_parcial }}
        {{ consumoparcial.inmueble_asociado }}
        {{ consumoparcial.user }}
        {{ consumoparcial.fichero_consumo_parcial }}
        {{ consumoparcial.inmueble_asociado }}
    {% endfor %}
    {% for consumoparcial in object_list %}
        {{ inmueble.consumosparciales.inmueble_asociado }}
        {{ inmueble.consumosparciales.user }}
        {{ inmueble.inmueble_asociado }}
        {{ inmueble.user }}
        {{ inmueble.consumosparciales.fichero_consumo_parcial }}
        {{ inmueble.fichero_consumo_parcial }}
        {{ consumoparcial.inmueble_asociado }}
        {{ consumoparcial.user }}
        {{ consumoparcial.fichero_consumo_parcial }}
        {{ consumoparcial.inmueble_asociado }}
    {% endfor %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="col-md-12">{{ inmueble.unificar_consumos.grafica_inmueble|safe }}</div>



    {% if user.is_authenticated %}
        <a class="btn btn-primary"
           href="{% url 'forecasting:edit_inmueble' username=inmueble.user.username pk=inmueble.pk %}">Modificar
            inmueble</a>
        <a class="btn btn-primary"
           href="{% url 'forecasting:delete_inmueble' username=inmueble.user.username pk=inmueble.pk %}">Eliminar
            inmueble</a>
        <a class="btn btn-secondary"
           href="{% url 'forecasting:for_user_inmuebles' username=inmueble.user.username %}">Volver al listado</a>
    {% endif %}

</div>
