{% load static %}


<li class="card border-success">
    <img class="img-fluid card-img border-white" src="">
    <div class="card-body text-center">
        <p>Predicción creada en: {{ prediccion.created_at }} </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verPrediccionModal{{ prediccion.id }}">
            Detalles
        </button>
    </div>
</li>


<!-- Modal -->
<div class="modal fade" id="verPrediccionModal{{ prediccion.id }}" tabindex="-1" role="dialog" aria-labelledby="verPrediccionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include "forecasting/_prediccion_inmueble_item.html" %}
        </div>
    </div>
</div>