<div class="card mt-5 mb-5">
  <div class="card-body pb-4">
    <h3 class="card-title">Esto es una predicción</h3>
    <h6 class="text-muted mb-5">{{ prediccionconsumo.created_at }}</h6>
      <h6 class="text-muted mb-5">{{ prediccionconsumo.fichero_prediccion_consumo }}</h6>
      <h6 class="text-muted mb-5">{{ prediccionconsumo.modelo_consumo_origen }}</h6>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>