<!--
    Atención:
    - Un diseño propio
-->

<div class="container">
    <p class="display-1">El Nombre: {{ tarifaelectrica.nombre }}</p>
    <hr>
    <p class="display-1">El User: {{ tarifaelectrica.user.username }}</p>
    <hr>
    <p class="display-1">Creado cuando: {{ tarifaelectrica.created_at }}</p>
    <hr>
    <p class="display-1">Inicio periodo de gracia: {{ tarifaelectrica.hora_ini_periodo_gracia }}</p>
    <hr>
    <p class="display-1">Fin Periodo de Gracia: {{ tarifaelectrica.hora_fin_periodo_gracia }}</p>
    <hr>
    <p class="display-1">Precio Del periodo de gracia: {{ tarifaelectrica.precio_periodo_gracia }}</p>
    <hr>
    <p class="display-1">Precio del resto de horas: {{ tarifaelectrica.precio_periodo_general }}</p>
    <hr>






    {% if user.is_authenticated %}
        <a class="btn btn-primary"
           href="{% url 'forecasting:edit_tarifaelectrica' username=tarifaelectrica.user.username pk=tarifaelectrica.pk %}">Modificar
            tarifa eléctrica</a>
        <a class="btn btn-primary"
           href="{% url 'forecasting:delete_tarifaelectrica' username=tarifaelectrica.user.username pk=tarifaelectrica.pk %}">Eliminar
            tarifa eléctrica</a>
        <a class="btn btn-secondary"
           href="{% url 'forecasting:for_user_tarifaselectricas' username=tarifaelectrica.user.username %}">Volver al
            listado</a>
    {% endif %}


</div>
