{% load static %}
{% load humanize %}


<li class="card col-sm-3 mx-3 my-3 border-white">
    <img class="img-fluid card-img border-white" src="{% static 'icon/historico02.png' %}" alt="tarifamercadoregulado icon">
    <div class="card-body text-center">
        <a href="{% url 'forecasting:single_tarifamercadoregulado' username=tarifamercadoregulado.user.username pk=tarifamercadoregulado.pk %}"
           class="h5 font-weight-bold">Histórico de {{ tarifamercadoregulado.created_at|naturalday }}</a>
    </div>
</li>

