{% extends "base.html" %}

{% block content %}

    <div class="jumbotron bg-light">
        <div class="container">
            <div class="page-header">
                <h1 class="display-1 ">Consumos PARCIALES</h1>
                <hr>
                <p class="text-muted font-italic lead">Cosas relacionadas con consumos parciales</p>
            </div>
        </div>
    </div>


    <div class="container">
        {% block pre_consumoparcial %}{% endblock %}
        {% block content_consumoparcial %}{% endblock %}
        {% block post_consumoparcial %}{% endblock %}
    </div>

{% endblock %}
