{% extends "base.html" %}

{% block content %}

    <div class="jumbotron bg-light">
        <div class="container">
            <div class="page-header">
                <h1 class="display-1 ">Consumos</h1>
                <hr>
                <p class="text-muted font-italic lead">Información básica de consumos</p>
            </div>
        </div>
    </div>


    <div class="container">
        {% block preconsumo %}{% endblock %}
        {% block consumo_content %}{% endblock %}
        {% block post_consumo %}{% endblock %}
    </div>

{% endblock %}
