{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="jumbotron bg-white">
            <h1 class="display-4"><strong>Energía Eléctrica en España</strong></h1>
            <hr class="bg-info">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="">Información adicional</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">

                <p class="lead mt-4 mb-1">
                    <strong><em>Generación:</em></strong>
                </p>
                <p class="lead mt-1 mb-4">
                    A continuación se detalla la distribución de producción de energía eléctrica durante el año 2018 para
                    cada tipo de fuente. Los datos se han recogido del <a
                        href="https://www.ree.es/sites/default/files/11_PUBLICACIONES/Documentos/InformesSistemaElectrico/2018/inf_sis_elec_ree_2018.pdf"
                        class="links-horizontal">informe anual</a> que elabora <em>Red Eléctrica de España</em>
                    con los detalles y especificaciones sobre el Sistema Eléctrico Español:
                </p>

                <div class="row">

                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="lead my-0">Hidráulica <em><strong>34,106</strong> GWh</em>
                            </p></li>
                            <li class="list-group-item"><p class="lead my-0">Turbina bombeo <em><strong>2,009</strong>
                                GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Nuclear <em><strong>53,198</strong>
                                GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Carbón <em><strong>37,274</strong> GWh</em>
                            </p></li>
                            <li class="list-group-item"><p class="lead my-0">Fuel/gas <em><strong>6,683</strong>
                                GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Ciclo combinado <em><strong>30,044</strong>
                                GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Hidroeléctrica <em><strong>24</strong> GWh</em>
                            </p></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="lead my-0">Eólica <em><strong>49,570</strong> GWh</em>
                            </p></li>
                            <li class="list-group-item"><p class="lead my-0">Solar fotovoltaica
                                <em><strong>7,759</strong> GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Solar térmica <em><strong>4,424</strong> GWh</em>
                            </p></li>
                            <li class="list-group-item"><p class="lead my-0">Otras renovables <em><strong>3,557</strong>
                                GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Cogeneración <em><strong>29,016</strong> GWh</em>
                            </p></li>
                            <li class="list-group-item"><p class="lead my-0">Residuos no renovables
                                <em><strong>2,416</strong> GWh</em></p></li>
                            <li class="list-group-item"><p class="lead my-0">Residuos renovables
                                <em><strong>874</strong> GWh</em></p></li>
                        </ul>
                    </div>

                </div>


            </div>

        </div>
    </div>

{% endblock %}