{% extends "base.html" %}

{% load static %}

{% block content %}



    <div class="container">
        <div class="jumbotron bg-white">
            <h1 class="display-4"><strong>Desglose Factura Eléctrica</strong></h1>
            <hr class="bg-info">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="">Información adicional</h5>
                    <p class="lead">Actualmente en España un usuario puede elegir entre un mercado regulado, donde el
                        gobierno
                        impone el precio de la luz, y un mercado libre, donde cada compañía marca oferta tarifas a
                        distintos
                        precios.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-around mt-5">
{#            <div class="col-6 border-right border-left border-info">#}
{##}
{#                <h3 class="card-title display-4">Mercado Regulado</h3>#}
{#                <p class="card-subtitle text-muted h3 mb-5">Factura de la luz</p>#}
{##}
{#                <p class="card-text">La facturación correspondiente a este mercado se realiza en función de los precios#}
{#                    diarios que sufren las tarifas.</p>#}
{#            </div>#}


            <div class="col-6 border-left border-right border-info">
                <h3 class="card-title display-4">Mercado Libre</h3>
                <p class="card-subtitle text-muted h3 mb-5">Factura de la luz</p>

                {#                <img src="{% static 'img/fact01.png' %}" class="card-img-top img-fluid"#}
                {#                     alt="factura_luz_mr">#}

                <p class="mb-2"><strong>Energía</strong></p>
                <p class="card-text">En este primer apartado se aprecian la
                    <mark>Potencia facturada</mark>
                    ,
                    la
                    <span>Energía facturada</span>
                    y el
                    <mark>Impuesto sobre electricidad.</mark>
                </p>
                <p>La potencia facturada contiene el
                    <mark>Término de potencia</mark>
                    , que se cobra a un
                    determinado
                    precio en base a lo contratado.
                </p>
                <p>La energía facturada contiene el
                    <mark>Término de potencia</mark>
                    donde se apreciam los
                    kilovatios
                    consumidos y a qué precio se cobran (en función de la tarifa contratada)
                </p>
                <p>El impuesto sobre la electricidad se aplica a la suma de las dos partidas
                    anteriores</p>
                <hr>
                <p class="mb-2"><strong>Servicios y otros conceptos</strong></p>
                <p>El
                    <mark>Alquiler equipos de medida</mark>
                    corresponde al pago de los contadores, que
                    pertenecen
                    a
                    las empresas distribuidoras de electricidad (no a la comercializadora)
                </p>
                <p>El
                    <mark>Servicio Urgencias Eléctricas</mark>
                    es una prestación opcional, junto con
                    otras, que se
                    pueden contratar.
                </p>
                <hr>
                <p class="mb-2"><strong>Importe total</strong></p>
                <p>Al total de las dos secciones anteriores, se le aplica un IVA del 21%. El resultado
                    final
                    es el
                    precio a pagar por los usuarios.</p>
                <hr>
                <a href="https://www.iberdrola.es/informacion/facturas/factura-luz-comercializacion"
                   class="card-link">Iberdrola</a>
                <a href="https://www.endesaclientes.com/factura-luz-mr.html" class="card-link">Endesa</a>
                <a href="https://www.ocu.org/vivienda-y-energia/gas-luz/consejos/como-descifrar-la-factura-de-la-luz"
                   class="card-link">Más</a>
            </div>
        </div>

    </div>



{% endblock %}