{% extends "base.html" %}

{% block content %}

    <div class="jumbotron bg-light">
        <div class="container">
            <div class="page-header">
                <h1 class="display-1 ">Modelo</h1>
                <hr>
                <p class="text-muted font-italic lead">Información básica de modelos</p>
            </div>
        </div>
    </div>


    <div class="container">
        {% block premodelo %}{% endblock %}
        {% block modelo_content %}{% endblock %}
        {% block post_modelo %}{% endblock %}
    </div>

{% endblock %}
