{% extends "base.html" %}

{% block content %}

{#    <div class="jumbotron bg-light">#}
{#        <div class="container">#}
{#            <div class="page-header">#}
{#                <h1 class="display-1 ">Predicciones de Consumo</h1>#}
{#                <hr>#}
{#                <p class="text-muted font-italic lead">Información básica sobre las predicciones de consumo de los Inmuebles del Usuario</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="container">
        <div class="jumbotron bg-white">
            <h1 class="display-4"><strong>Predicciones de Consumo</strong></h1>
            <hr class="bg-info">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="">Información básica sobre las predicciones de consumo de los Inmuebles del Usuario</h5>
                </div>
                <div class="col-md-6">
                    <h5 class=""><strong>{{ user.username }}</strong></h5>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        {% block preprediccionconsumo %}{% endblock %}
        {% block prediccionconsumo_content %}{% endblock %}
        {% block post_prediccionconsumo %}{% endblock %}
    </div>

{% endblock %}
