{% extends "forecasting/consumo_base.html" %}

{% block preconsumo %}
{% endblock %}


{% block consumo_content %}

    <!-- <div class="jumbotron mt-4"> -->
    <div class="mt-4">

        <h2 class="display-3 font-italic font-weight-bold">{{ user.username }}</h2>
        <h3 class="display-4 mb-5">Listado completo de los Consumos</h3>

        <ul class="list-unstyled row justify-content-between">
            {% for consumo in consumo_list %}
                {% include "forecasting/_consumo_list_item.html" %}
            {% endfor %}
        </ul>

    </div>

{% endblock %}
